!!! 5
%html
  %head
    %title= "Boston Weather Report"
    %script{src: "http://d3js.org/d3.v3.min.js"} 
    %style= @style
  %body

    %h1 Weather Report for Boston

    %script= @data
    %script= @app
