!!! 5
%html
  %head
    %title= "Boston Weather Forecast"
    %script{src: "http://d3js.org/d3.v3.min.js"} 
    %style= @style
  %body

    %h1 Forecasted Temperatures Report for Boston, MA, USA

    %script= @data
    %script= @app
